:global(#AdminPanelId) .content {
  background-color: white;
  height: 50px;
  border: 1px solid #edecf3;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 20px 0;
  cursor: pointer;
  color: #6b7a90;
}
:global(#AdminPanelId) .content:hover {
  color: #3fa9f5;
  cursor: pointer;
  background-color: #edecf3;
}

:global(#AdminPanelId) .middle {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

:global(#AdminPanelId) .last {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

:global(#AdminPanelId) .label {
  font-weight: bold;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 32px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

:global(#AdminPanelId) .icon {
  height: 20px;
  width: 20px;
}
