.content {
  background-color: white;
  height: 50px;
  border: 1px solid #edecf3;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 20px 0;
  cursor: pointer;
}

.first {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}
.first:hover {
  cursor: pointer;
  background-color: #f6f6f9;
}

.middle {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

.last {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}

.last:hover {
  cursor: pointer;
  background-color: #f6f6f9;
}

.label {
  color: black;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 32px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.icon {
  height: auto;
  width: 20px;
  cursor: pointer;
}
