:global(#AdminPanelId) div,
:global(#AdminPanelId) span,
:global(#AdminPanelId) applet,
:global(#AdminPanelId) object,
:global(#AdminPanelId) iframe,
:global(#AdminPanelId) h1,
:global(#AdminPanelId) h2,
:global(#AdminPanelId) h3,
:global(#AdminPanelId) h4,
:global(#AdminPanelId) h5,
:global(#AdminPanelId) h6,
:global(#AdminPanelId) p,
:global(#AdminPanelId) blockquote,
:global(#AdminPanelId) pre,
:global(#AdminPanelId) a,
:global(#AdminPanelId) abbr,
:global(#AdminPanelId) acronym,
:global(#AdminPanelId) address,
:global(#AdminPanelId) big,
:global(#AdminPanelId) cite,
:global(#AdminPanelId) code,
:global(#AdminPanelId) del,
:global(#AdminPanelId) dfn,
:global(#AdminPanelId) em,
:global(#AdminPanelId) img,
:global(#AdminPanelId) ins,
:global(#AdminPanelId) kbd,
:global(#AdminPanelId) q,
:global(#AdminPanelId) s,
:global(#AdminPanelId) samp,
:global(#AdminPanelId) small,
:global(#AdminPanelId) strike,
:global(#AdminPanelId) strong,
:global(#AdminPanelId) sub,
:global(#AdminPanelId) sup,
:global(#AdminPanelId) tt,
:global(#AdminPanelId) var,
:global(#AdminPanelId) b,
:global(#AdminPanelId) u,
:global(#AdminPanelId) i,
:global(#AdminPanelId) center,
:global(#AdminPanelId) dl,
:global(#AdminPanelId) dt,
:global(#AdminPanelId) dd,
:global(#AdminPanelId) ol,
:global(#AdminPanelId) ul,
:global(#AdminPanelId) li,
:global(#AdminPanelId) fieldset,
:global(#AdminPanelId) form,
:global(#AdminPanelId) label,
:global(#AdminPanelId) legend,
:global(#AdminPanelId) table,
:global(#AdminPanelId) caption,
:global(#AdminPanelId) tbody,
:global(#AdminPanelId) tfoot,
:global(#AdminPanelId) thead,
:global(#AdminPanelId) tr,
:global(#AdminPanelId) th,
:global(#AdminPanelId) td,
:global(#AdminPanelId) article,
:global(#AdminPanelId) aside,
:global(#AdminPanelId) canvas,
:global(#AdminPanelId) details,
:global(#AdminPanelId) embed,
:global(#AdminPanelId) figure,
:global(#AdminPanelId) figcaption,
:global(#AdminPanelId) footer,
:global(#AdminPanelId) header,
:global(#AdminPanelId) hgroup,
:global(#AdminPanelId) menu,
:global(#AdminPanelId) nav,
:global(#AdminPanelId) output,
:global(#AdminPanelId) ruby,
:global(#AdminPanelId) section,
:global(#AdminPanelId) summary,
:global(#AdminPanelId) time,
:global(#AdminPanelId) mark,
:global(#AdminPanelId) audio,
:global(#AdminPanelId) video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: system-ui;
  color: #6b7a90;
}

:global(#AdminPanelId) article,
:global(#AdminPanelId) aside,
:global(#AdminPanelId) details,
:global(#AdminPanelId) figcaption,
:global(#AdminPanelId) figure,
:global(#AdminPanelId) footer,
:global(#AdminPanelId) header,
:global(#AdminPanelId) hgroup,
:global(#AdminPanelId) menu,
:global(#AdminPanelId) nav,
section {
  display: block;
}

:global(#AdminPanelId) ol,
:global(#AdminPanelId) ul {
  list-style: none;
}
